<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Page</title>
    <link rel="icon" href="images/pic.png">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

    <div class="main-content">
        {{>header}}
        <p>This was something for practise. It uses data from mapbox.com and darksky.com</p>
        <img class="portrait" src="images/tadel.jpg">
    </div>

    {{>footer}}

</body>
</html>