<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Help Page</title>
    <link rel="icon" href="images/pic.png">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div>
        {{>header}}

        <p>Message: {{note}}</p>
    </div>

    {{>footer}}

</body>
</html>